@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

img {
  width: 100%;
  display: block;
}

.article {
  padding: -10px 20px;
}
